<div class="menu">
    <a routerLink="/" class="menuListItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/about" class="menuListItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a routerLink="/work"  class="menuListItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Work</a>
    <a routerLink="/project" class="menuListItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
    <a routerLink="/certificate" class="menuListItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Certifications</a>
   
</div>