<footer class="footer">
    <div class="container">
      <p>&copy; Designed by Tushar Arora</p>
      <br/>
      <nav>
        <ul>
          <li><a href="https://github.com/tushararora02"> <img src="../../../assets/github.png" alt="Github" class="linkedin-image">Github</a></li>
          <li><a href="https://www.linkedin.com/in/tushar-arora-890522143/"> <img src="../../../assets/linkedIn.png" alt="LinkedIn" class="linkedin-image">Linkedin</a></li>
          <li><a href="https://leetcode.com/tushar_arora01/"> <img src="../../../assets/leetcode.png" alt="Leetcode" class="linkedin-image">Leetcode</a></li>
        </ul>
      </nav>
    </div>
  </footer>