#intro{
    height:calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}
.bg{
    position: absolute;
    top: 4rem;
    
    margin-right: 2rem;
    margin-top: 5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 70vh;
    background-color:rgb(154, 200, 177);
    clip-path: inset(0 round 50% 0 );
    width: 45vw;


}

.content{
    height: 100vh;
    width: 100vw;
    padding: 10rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hi{
    font-size: 1.75rem;
    font-weight: 100;
}

.name{
    color:rgb(154, 200, 177);
    letter-spacing: 4px;
    text-shadow: 10px 8px 10px var(--black);
    font-weight: bold;
}
.para{
    font-size: medium;
    font-weight: 100;

}