:host {
    display: block;
    color: white;
    padding: 3rem 2rem;
}

.title{
    color:rgb(154, 200, 177);
    letter-spacing: 4px;
    text-shadow: 10px 8px 10px var(--black);
    font-weight: bold;
}

ul:has(ul) {
    padding: 0%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li:has(ul) {
    margin-top: 2rem;
    margin-left: 5rem;
}
ul li{
    margin-left: 1%;
}

ul li h2 {
    margin-left: -4%;
    color:rgb(122, 147, 122);
}

ul li h3 {
    margin-left: -1%;
    color: rgb(136, 142, 136);
}

/* PC */
:host.pc ul li:has(ul) {
    width: max-content;
    position: relative;
    margin-left: 5rem;
}

:host.pc ul li:has(ul)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -60px;
    top: 5px;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--green);
}

:host.pc ul li:has(ul)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 130%;
    left: -50px;
    top: 5%;
    z-index: 1;
    background-color: var(--gray-light);
}

:host.pc ul li:has(ul):last-child::after {  
    height: 100%;
}